[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
black = "*"
exceptiongroup = "*"
build = "*"
tomli = "*"

[packages]
ofxstatement = "*"
ofxstatement-nordigen = {editable = true,path = "."}
importlib_metadata = {version = "*", markers = "python_version < '3.10'"}